version: '3.8'
services:
  user-service:
    build: ./user-service
    ports:
      - "3001:3001"
  product-service:
    build: ./product-service
    ports:
      - "3002:3002"
  order-service:
    build: ./order-service
    ports:
      - "3003:3003"
    environment:
      - PRODUCT_URL=http://product-service:3002
      - PAYMENT_URL=http://payment-service:3004
  payment-service:
    build: ./payment-service
    ports:
      - "3004:3004"
